Repository skovhus/styled-components-to-stylex-codemod: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-oxlint, lint-eslint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{json,css,yaml,yml,html,md,graphql,js,jsx,ts,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true
    lint-oxlint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:oxlint --fix {staged_files}
      stage_fixed: true
    lint-eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:eslint {staged_files}
      stage_fixed: true

fix: add per-case mismatch tolerance for dynamic style function rendering
  scripts/verify-storybook-rendering.mts
Due: none

Add TODO comments on visual test override entries
  scripts/verify-storybook-rendering.mts
Due: none

Deploy preview for PR 351 🛫
  pr-preview/pr-351/assets/style-CErGDvCt.css
Due: format

Support dynamic prop-based styles in reverse component selectors (#351)
  eslint.config.js
  scripts/verify-storybook-rendering.mts
  src/internal/lower-rules/process-rules.ts
  src/internal/lower-rules/relation-overrides.ts
  src/internal/lower-rules/shared.ts
  src/internal/rewrite-jsx.ts
  test-cases/_unimplemented.selector-componentUnresolvableInterpolation.input.tsx
  test-cases/_unimplemented.selector-descendantComponentDynamicProp.input.tsx
  test-cases/selector-componentDynamicProp.input.tsx
  test-cases/selector-componentDynamicProp.output.tsx
Due: format, lint-oxlint, lint-eslint

refactor: merge two nearly identical branches in SFP emitter
  src/internal/emit-wrappers/emit-intrinsic-should-forward-prop.ts
Due: format, lint-oxlint, lint-eslint

refactor: deduplicate shared patterns across codebase
  src/internal/emit-wrappers/emit-intrinsic-should-forward-prop.ts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/emit-wrappers/variant-condition.ts
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/import-resolution.ts
  src/internal/lower-rules/template-literals.ts
  src/internal/lower-rules/value-patterns.ts
  src/internal/transform-steps/analyze-before-emit.ts
  src/internal/utilities/string-utils.ts
Due: format, lint-oxlint, lint-eslint

Support forward descendant component selectors with dynamic prop interpolations
  src/internal/lower-rules/process-rules.ts
  test-cases/_unsupported.selector-nesting.input.tsx
  test-cases/_unsupported.selector-universal.input.tsx
  test-cases/_unsupported.selector-universalInterpolation.input.tsx
  test-cases/selector-descendantComponentDynamicProp.input.tsx
  test-cases/selector-descendantComponentDynamicProp.output.tsx
Due: format, lint-oxlint, lint-eslint

Use Vitest agent reporter for clean AI-agent test output
  knip.json
  src/__tests__/vitest-setup.ts
  src/internal/prepass/run-prepass.ts
  vitest.config.ts
Due: format, lint-oxlint, lint-eslint

Simplify test output suppression using Logger and jscodeshift silent option
  scripts/regenerate-test-case-outputs.mts
  src/__tests__/cross-file-prepass.test.ts
  src/__tests__/extract-external-interface.test.ts
  src/__tests__/forwarded-as-patcher.test.ts
  src/__tests__/run-prepass-rg-prefilter.test.ts
  src/__tests__/run-prepass-selector-prefilter.test.ts
  src/__tests__/run.e2e.test.ts
  src/__tests__/transform.test.ts
  src/__tests__/vitest-setup.ts
  src/internal/logger.ts
  src/internal/prepass/run-prepass.ts
  src/run.ts
  vitest.config.ts
Due: format, lint-oxlint, lint-eslint

Fix CSS variable bridge: preserve static parts and improve type safety
  src/internal/lower-rules/process-rules.ts
  test-cases/selector-descendantComponentDynamicProp.input.tsx
  test-cases/selector-descendantComponentDynamicProp.output.tsx
Due: format, lint-oxlint, lint-eslint

Centralize Logger mock in vitest-setup.ts, remove per-file duplicates
  src/__tests__/cross-file-prepass.test.ts
  src/__tests__/extract-external-interface.test.ts
  src/__tests__/forwarded-as-patcher.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/run-prepass-rg-prefilter.test.ts
  src/__tests__/run-prepass-selector-prefilter.test.ts
  src/__tests__/run.e2e.test.ts
  src/__tests__/transform.test.ts
  src/__tests__/vitest-setup.ts
  vitest.config.ts
Due: format, lint-oxlint, lint-eslint

Deploy preview for PR 358 🛫
  pr-preview/pr-358/assets/style-CErGDvCt.css
Due: format

fix: deduplicate destructure props to prevent duplicate bindings
  src/__tests__/build-destructure-pattern-props.test.ts
  src/internal/emit-wrappers/jsx-builders.ts
Due: format, lint-oxlint, lint-eslint

Use Vitest agent reporter for clean AI-agent test output (#358)
  knip.json
  scripts/regenerate-test-case-outputs.mts
  src/__tests__/cross-file-prepass.test.ts
  src/__tests__/forwarded-as-patcher.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/transform.test.ts
  src/__tests__/vitest-setup.ts
  src/internal/logger.ts
  src/internal/prepass/run-prepass.ts
  src/run.ts
  vitest.config.ts
Due: format, lint-oxlint, lint-eslint

deploy: d585982b68691eb3f31ffc8b5c4275d0a7bf06c5
  assets/style-CErGDvCt.css
Due: format

fix: unique CSS var names per pseudo and destructured prop forwarding in bridge
  src/internal/lower-rules/inline-styles.ts
  src/internal/lower-rules/process-rules.ts
  test-cases/selector-descendantComponentDynamicProp.input.tsx
  test-cases/selector-descendantComponentDynamicProp.output.tsx
Due: format, lint-oxlint, lint-eslint

refactor: replace template-literal input/link emitters with AST builders (#356)
  src/__tests__/build-destructure-pattern-props.test.ts
  src/internal/emit-wrappers/emit-intrinsic-should-forward-prop.ts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/emit-wrappers/emit-intrinsic-specialized.ts
  src/internal/emit-wrappers/jsx-builders.ts
  src/internal/emit-wrappers/variant-condition.ts
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/import-resolution.ts
  src/internal/lower-rules/template-literals.ts
  src/internal/lower-rules/value-patterns.ts
  src/internal/transform-steps/analyze-before-emit.ts
  src/internal/utilities/string-utils.ts
  test-cases/selector-attribute.output.tsx
  test-cases/selector-attributeLinkExported.output.tsx
Due: format, lint-oxlint, lint-eslint

Support forward descendant component selectors with dynamic prop interpolations (#357)
  src/internal/lower-rules/inline-styles.ts
  src/internal/lower-rules/process-rules.ts
  test-cases/_unimplemented.selector-descendantComponentDynamicProp.input.tsx
  test-cases/_unsupported.selector-nesting.input.tsx
  test-cases/_unsupported.selector-universal.input.tsx
  test-cases/_unsupported.selector-universalInterpolation.input.tsx
  test-cases/selector-descendantComponentDynamicProp.input.tsx
  test-cases/selector-descendantComponentDynamicProp.output.tsx
Due: format, lint-oxlint, lint-eslint

chore(release): v0.0.29 [skip ci]
  package.json
Due: format

Only silence jscodeshift runner in tests, not in production
  src/__tests__/run-prepass-failure-contract.test.ts
  src/__tests__/run.e2e.test.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

Only silence jscodeshift runner in tests, not in production (#359)
  src/__tests__/run-prepass-failure-contract.test.ts
  src/__tests__/run.e2e.test.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

deploy: 7389d433c0f664470b290c7d25f74bb7d1f27e8e
  assets/style-CErGDvCt.css
Due: format

Add test case: CSS custom property with theme.isDark conditional
  test-cases/useTheme-isDark.input.tsx
  test-cases/useTheme-isDark.output.tsx
Due: format, lint-oxlint, lint-eslint

Support theme member expressions in inline style fallback
  src/__tests__/fixture-adapters.ts
  src/internal/builtin-handlers/conditionals.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  test-cases/theme-conditionalInlineStyle.input.tsx
  test-cases/theme-conditionalInlineStyle.output.tsx
  test-cases/tokens.stylex.ts
Due: format, lint-oxlint, lint-eslint

Handle optional chaining in theme member expressions
  src/internal/builtin-handlers/conditionals.ts
  src/internal/builtin-handlers/types.ts
  src/internal/lower-rules/decl-setup.ts
  src/internal/lower-rules/state.ts
  test-cases/useTheme-isDark.input.tsx
  test-cases/useTheme-isDark.output.tsx
Due: format, lint-oxlint, lint-eslint

feat(adapter): add extraClassNames support for CSS module class output
  src/__tests__/fixture-adapters.ts
  src/adapter.ts
  src/internal/builtin-handlers/conditionals.ts
  src/internal/builtin-handlers/resolver-utils.ts
  src/internal/builtin-handlers/types.ts
  src/internal/emit-styles.ts
  src/internal/emit-wrappers/emit-component.ts
  src/internal/emit-wrappers/emit-intrinsic-polymorphic.ts
  src/internal/emit-wrappers/emit-intrinsic-should-forward-prop.ts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/emit-wrappers/style-expr-builders.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  src/internal/transform-steps/analyze-before-emit.ts
  src/internal/transform-steps/rewrite-jsx.ts
  src/internal/transform-types.ts
  test-cases/mixin-extraClassNames.input.tsx
  test-cases/mixin-extraClassNames.output.tsx
Due: format, lint-oxlint, lint-eslint

Reject destructured sibling props in inline style fallback
  src/__tests__/transform.test.ts
  src/internal/builtin-handlers/conditionals.ts
  src/internal/builtin-handlers/resolver-utils.ts
  src/internal/builtin-handlers/types.ts
Due: format, lint-oxlint, lint-eslint

refactor: extract shared ExprWithImports type and deduplicate extraClassNames processing
  src/adapter.ts
  src/internal/builtin-handlers/types.ts
  src/internal/emit-wrappers/style-expr-builders.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  test-cases/fixtures.d.ts
  test-cases/lib/electronMixins.module.css
  test-cases/lib/helpers.ts
Due: format, lint-oxlint, lint-eslint
