Repository skovhus/styled-components-to-stylex-codemod: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-oxlint, lint-eslint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{json,css,yaml,yml,html,md,graphql,js,jsx,ts,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true
    lint-oxlint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:oxlint --fix {staged_files}
      stage_fixed: true
    lint-eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:eslint {staged_files}
      stage_fixed: true

Remove duplicate leavesOnly option, keep transformMode only
  src/__tests__/public-api-errors.test.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

Fix CI rendering test for helper-memberCalleeMultiArg
  scripts/verify-storybook-rendering.mts
Due: none

Improve test case visual fixtures
  test-cases/containerQuery-basic.input.tsx
  test-cases/containerQuery-basic.output.tsx
  test-cases/css-gradient.input.tsx
  test-cases/css-gradient.output.tsx
  test-cases/css-vendorPrefix.input.tsx
  test-cases/css-vendorPrefix.output.tsx
  test-cases/cssHelper-conditionalIfBlock.input.tsx
  test-cases/cssHelper-conditionalIfBlock.output.tsx
  test-cases/externalStyles-componentProps.input.tsx
  test-cases/externalStyles-componentProps.output.tsx
  test-cases/helper-callPropArg.input.tsx
  test-cases/helper-callPropArg.output.tsx
  test-cases/import-valueMember.input.tsx
  test-cases/import-valueMember.output.tsx
  test-cases/keyframes-basic.input.tsx
  test-cases/keyframes-basic.output.tsx
  test-cases/keyframes-templateInterpolation.input.tsx
  test-cases/keyframes-templateInterpolation.output.tsx
  test-cases/mixin-basic.input.tsx
  test-cases/mixin-basic.output.tsx
  test-cases/mixin-component.input.tsx
  test-cases/mixin-component.output.tsx
  test-cases/naming-inlinedComponentSelector.input.tsx
  test-cases/naming-inlinedComponentSelector.output.tsx
  test-cases/naming-stylexConflict.input.tsx
  test-cases/naming-stylexConflict.output.tsx
  test-cases/selector-pseudo.input.tsx
  test-cases/selector-pseudo.output.tsx
  test-cases/selector-pseudoMedia.input.tsx
  test-cases/selector-pseudoMedia.output.tsx
  test-cases/theme-helperBorderByColor.input.tsx
  test-cases/theme-helperBorderByColor.output.tsx
  test-cases/theme-indexedPropClash.input.tsx
  test-cases/theme-indexedPropClash.output.tsx
  test-cases/theme-propLogical.input.tsx
  test-cases/theme-propLogical.output.tsx
  test-cases/useTheme-isDarkLiteral.input.tsx
  test-cases/useTheme-isDarkLiteral.output.tsx
Due: format, lint-oxlint, lint-eslint

Document why tolerance override is needed for helper-memberCalleeMultiArg
  scripts/verify-storybook-rendering.mts
Due: none

Document comprehensive pixel diff analysis for tolerance overrides
  scripts/verify-storybook-rendering.mts
Due: none

Use fixed widths in helper-memberCalleeMultiArg to avoid sub-pixel issues
  scripts/verify-storybook-rendering.mts
  test-cases/helper-memberCalleeMultiArg.input.tsx
  test-cases/helper-memberCalleeMultiArg.output.tsx
Due: format, lint-oxlint, lint-eslint

Prune test visual fixture changes
  test-cases/containerQuery-basic.input.tsx
  test-cases/containerQuery-basic.output.tsx
  test-cases/css-gradient.input.tsx
  test-cases/css-gradient.output.tsx
  test-cases/cssHelper-conditionalIfBlock.input.tsx
  test-cases/cssHelper-conditionalIfBlock.output.tsx
  test-cases/externalStyles-componentProps.input.tsx
  test-cases/externalStyles-componentProps.output.tsx
  test-cases/keyframes-basic.input.tsx
  test-cases/keyframes-basic.output.tsx
  test-cases/keyframes-templateInterpolation.input.tsx
  test-cases/keyframes-templateInterpolation.output.tsx
  test-cases/mixin-basic.input.tsx
  test-cases/mixin-basic.output.tsx
  test-cases/mixin-component.input.tsx
  test-cases/mixin-component.output.tsx
  test-cases/naming-inlinedComponentSelector.input.tsx
  test-cases/naming-inlinedComponentSelector.output.tsx
  test-cases/selector-pseudo.input.tsx
  test-cases/selector-pseudo.output.tsx
  test-cases/selector-pseudoMedia.input.tsx
  test-cases/selector-pseudoMedia.output.tsx
  test-cases/theme-indexedPropClash.input.tsx
  test-cases/theme-indexedPropClash.output.tsx
  test-cases/theme-propLogical.input.tsx
  test-cases/theme-propLogical.output.tsx
  test-cases/useTheme-isDarkLiteral.input.tsx
  test-cases/useTheme-isDarkLiteral.output.tsx
Due: format, lint-oxlint, lint-eslint

Fix motion wrapper runtime style output (#415)
  scripts/verify-storybook-rendering.mts
  src/__tests__/fixture-adapters.ts
  src/internal/builtin-handlers.ts
  src/internal/emit-wrappers/compound-variants.ts
  src/internal/emit-wrappers/emit-component.ts
  src/internal/emit-wrappers/emit-intrinsic-helpers.ts
  src/internal/emit-wrappers/style-merger.ts
  src/internal/lower-rules/inline-styles.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  src/internal/transform-steps/analyze-before-emit.ts
  test-cases/helper-memberCalleeMultiArg.input.tsx
  test-cases/helper-memberCalleeMultiArg.output.tsx
  test-cases/lib/framer-motion.tsx
  test-cases/lib/helpers.ts
  test-cases/transientProp-memberExpression.input.tsx
  test-cases/transientProp-memberExpression.output.tsx
Due: format, lint-oxlint, lint-eslint

Improve test case visual fixtures (#416)
  test-cases/css-vendorPrefix.input.tsx
  test-cases/css-vendorPrefix.output.tsx
  test-cases/helper-callPropArg.input.tsx
  test-cases/helper-callPropArg.output.tsx
  test-cases/import-valueMember.input.tsx
  test-cases/import-valueMember.output.tsx
  test-cases/naming-stylexConflict.input.tsx
  test-cases/naming-stylexConflict.output.tsx
  test-cases/theme-helperBorderByColor.input.tsx
  test-cases/theme-helperBorderByColor.output.tsx
Due: format, lint-oxlint, lint-eslint

feat: add leaves-only transform mode (#412)
  src/__tests__/fixtures/leaves-only/cross/barrel-wrap.tsx
  src/__tests__/fixtures/leaves-only/cross/barrel/index.ts
  src/__tests__/fixtures/leaves-only/cross/blocked-box.tsx
  src/__tests__/fixtures/leaves-only/cross/blocked-wrap.tsx
  src/__tests__/fixtures/leaves-only/cross/box.tsx
  src/__tests__/fixtures/leaves-only/cross/default-box.tsx
  src/__tests__/fixtures/leaves-only/cross/default-wrap.tsx
  src/__tests__/fixtures/leaves-only/cross/wrap.tsx
  src/__tests__/public-api-errors.test.ts
  src/__tests__/transform.test.ts
  src/internal/prepass/compute-leaf-set.ts
  src/internal/prepass/extract-external-interface.ts
  src/internal/prepass/run-prepass.ts
  src/internal/prepass/scan-cross-file-selectors.ts
  src/internal/transform-steps/apply-leaves-only-policy.ts
  src/internal/transform-steps/collect-styled-decls.ts
  src/internal/transform-steps/detect-cascade-conflict.ts
  src/internal/transform-steps/detect-unsupported-patterns.ts
  src/internal/transform-steps/lower-rules.ts
  src/internal/transform-steps/resolve-base-components.ts
  src/internal/transform-types.ts
  src/run.ts
  src/transform.ts
Due: format, lint-oxlint, lint-eslint

fix auto sx wrapper detection
  src/__tests__/run.e2e.test.ts
  src/adapter.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  src/internal/public-api-validation.ts
  src/internal/transform-steps/detect-cascade-conflict.ts
  src/internal/transform-types.ts
  src/internal/wrapped-component-interface.ts
  src/run.ts
  src/transform.ts
Due: format, lint-oxlint, lint-eslint

fix review feedback on auto sx gating
  src/__tests__/run.e2e.test.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

fix sequential same-run wrapper checks
  src/__tests__/run.e2e.test.ts
  src/internal/transform-steps/detect-cascade-conflict.ts
  src/internal/transform-types.ts
  src/run.ts
  src/transform.ts
Due: format, lint-oxlint, lint-eslint

fix direct sequential transform runner
  src/__tests__/run-prepass-failure-contract.test.ts
  src/__tests__/run.e2e.test.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  src/internal/transform-steps/emit-wrappers.ts
  src/internal/transform-steps/rewrite-jsx.ts
  src/internal/transform-types.ts
  src/internal/wrapped-component-interface.test.ts
  src/internal/wrapped-component-interface.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

fix: detect existing stylex.keyframes when re-running on partially-migrated files
  src/__tests__/transform.test.ts
  src/internal/transform-steps/convert-keyframes.ts
Due: format, lint-oxlint, lint-eslint

Fix auto sx wrapper detection (#406)
  src/__tests__/run-prepass-failure-contract.test.ts
  src/__tests__/run.e2e.test.ts
  src/adapter.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  src/internal/public-api-validation.ts
  src/internal/transform-steps/detect-cascade-conflict.ts
  src/internal/transform-steps/emit-wrappers.ts
  src/internal/transform-steps/rewrite-jsx.ts
  src/internal/transform-types.ts
  src/internal/wrapped-component-interface.test.ts
  src/internal/wrapped-component-interface.ts
  src/run.ts
  src/transform.ts
Due: format, lint-oxlint, lint-eslint

fix: only collect top-level stylex.keyframes bindings as keyframe names
  src/__tests__/transform.test.ts
  src/internal/transform-steps/convert-keyframes.ts
Due: format, lint-oxlint, lint-eslint

fix: reuse styles object and keyframes across leaves-only and full migration runs (#417)
  src/__tests__/transform.test.ts
  src/internal/transform-steps/convert-keyframes.ts
Due: format, lint-oxlint, lint-eslint

docs: add migration agent prompt
  README.md
Due: format

docs: add agent prompt section to README
  README.md
Due: format

Fix unsafe codemod transforms
  src/internal/css-prop-mapping.ts
  src/internal/logger.ts
  src/internal/lower-rules/process-rule-declarations.ts
  src/internal/lower-rules/process-rules.ts
  src/internal/selectors.ts
  src/internal/transform-steps/analyze-before-emit.ts
  src/internal/transform/helpers.test.ts
  src/internal/transform/helpers.ts
  src/internal/utilities/string-utils.test.ts
  src/internal/utilities/string-utils.ts
  test-cases/_unsupported.css-backgroundMultiComponent.input.tsx
  test-cases/_unsupported.selector-childCombinatorAttribute.input.tsx
  test-cases/_unsupported.selector-elementChild.input.tsx
  test-cases/selector-childCombinatorAttribute.input.tsx
  test-cases/selector-childCombinatorAttribute.output.tsx
  test-cases/selector-elementChild.output.tsx
  test-cases/selector-pseudo.input.tsx
  test-cases/selector-pseudo.output.tsx
Due: format, lint-oxlint, lint-eslint

Preserve specific selector bail warning
  src/internal/lower-rules/process-rules.ts
Due: format, lint-oxlint, lint-eslint

docs: put migration game plan before agent prompt in README
  README.md
Due: format

Support provable direct child selectors
  src/internal/lower-rules/process-rules.ts
  src/internal/lower-rules/state.ts
  src/internal/rewrite-jsx.ts
  test-cases/_unsupported.selector-childCombinatorAttribute.input.tsx
  test-cases/selector-childCombinatorAttribute.input.tsx
  test-cases/selector-childCombinatorAttribute.output.tsx
  test-cases/selector-elementChild.input.tsx
  test-cases/selector-elementChild.output.tsx
Due: format, lint-oxlint, lint-eslint

docs: add migration agent prompt (#419)
  README.md
Due: format

deploy: 4bc4db787de43e81b42a0da8794e944589b8b4e9
  assets/style-Cs_sfS94.css
Due: format

Fix mixed child and descendant selector overrides
  src/internal/lower-rules/process-rules.ts
  test-cases/selector-childCombinatorAttribute.output.tsx
  test-cases/selector-elementChild.input.tsx
  test-cases/selector-elementChild.output.tsx
Due: format, lint-oxlint, lint-eslint

Fix unsafe codemod transforms (#418)
  src/internal/css-prop-mapping.ts
  src/internal/logger.ts
  src/internal/lower-rules/process-rule-declarations.ts
  src/internal/lower-rules/process-rules.ts
  src/internal/lower-rules/state.ts
  src/internal/rewrite-jsx.ts
  src/internal/selectors.ts
  src/internal/transform-steps/analyze-before-emit.ts
  src/internal/transform/helpers.test.ts
  src/internal/transform/helpers.ts
  src/internal/utilities/string-utils.test.ts
  src/internal/utilities/string-utils.ts
  test-cases/_unsupported.css-backgroundMultiComponent.input.tsx
  test-cases/selector-childCombinatorAttribute.output.tsx
  test-cases/selector-elementChild.input.tsx
  test-cases/selector-elementChild.output.tsx
  test-cases/selector-pseudo.input.tsx
  test-cases/selector-pseudo.output.tsx
Due: format, lint-oxlint, lint-eslint

chore(release): v0.0.37 [skip ci]
  package.json
Due: format

Park codemod issue repro fixtures
  test-cases-to-tackle-next/css-gridRowNumeric.input.tsx
  test-cases-to-tackle-next/css-gridRowNumeric.output.tsx
  test-cases-to-tackle-next/css-vendorPrefixOverflowScrolling.input.tsx
  test-cases-to-tackle-next/css-vendorPrefixOverflowScrolling.output.tsx
  test-cases-to-tackle-next/cssVariable-defineVarsDeclaration.input.tsx
  test-cases-to-tackle-next/cssVariable-defineVarsDeclaration.output.tsx
  test-cases-to-tackle-next/cssVariable-tokenLiteralValue.input.tsx
  test-cases-to-tackle-next/cssVariable-tokenLiteralValue.output.tsx
  test-cases-to-tackle-next/import-reactTypeDefaultNamed.input.tsx
  test-cases-to-tackle-next/import-reactTypeDefaultNamed.output.tsx
  test-cases-to-tackle-next/import-stylexConstArithmetic.input.tsx
  test-cases-to-tackle-next/import-stylexConstArithmetic.output.tsx
  test-cases-to-tackle-next/lib/app-theme.ts
  test-cases-to-tackle-next/mediaQuery-printPrecedence.input.tsx
  test-cases-to-tackle-next/mediaQuery-printPrecedence.output.tsx
  test-cases-to-tackle-next/partial-componentSelectorReference.input.tsx
  test-cases-to-tackle-next/partial-componentSelectorReference.output.tsx
  test-cases-to-tackle-next/partial-generatedBaseReference.input.tsx
  test-cases-to-tackle-next/partial-generatedBaseReference.output.tsx
  test-cases-to-tackle-next/partial-importedCallableMixin.input.tsx
  test-cases-to-tackle-next/partial-importedCallableMixin.output.tsx
  test-cases-to-tackle-next/partial-keyframesPreserveTemplateUsage.input.tsx
  test-cases-to-tackle-next/partial-keyframesPreserveTemplateUsage.output.tsx
  test-cases-to-tackle-next/partial-transientProps.input.tsx
  test-cases-to-tackle-next/partial-transientProps.output.tsx
  test-cases-to-tackle-next/selector-componentAncestorHover.input.tsx
  test-cases-to-tackle-next/selector-componentAncestorHover.output.tsx
  test-cases-to-tackle-next/selector-pseudoElementConditionalScope.input.tsx
  test-cases-to-tackle-next/selector-pseudoElementConditionalScope.output.tsx
  test-cases-to-tackle-next/selector-pseudoElementDeclarationScope.input.tsx
  test-cases-to-tackle-next/selector-pseudoElementDeclarationScope.output.tsx
  test-cases-to-tackle-next/selector-pseudoElementNestedPseudo.input.tsx
  test-cases-to-tackle-next/selector-pseudoElementNestedPseudo.output.tsx
  test-cases-to-tackle-next/useTheme-providerImportConflict.input.tsx
  test-cases-to-tackle-next/useTheme-providerImportConflict.output.tsx
  test-cases-to-tackle-next/wrapper-conditionalSxArray.input.tsx
  test-cases-to-tackle-next/wrapper-conditionalSxArray.output.tsx
  test-cases-to-tackle-next/wrapper-customComponentDelegation.input.tsx
  test-cases-to-tackle-next/wrapper-customComponentDelegation.output.tsx
Due: format, lint-oxlint, lint-eslint
