Repository skovhus/styled-components-to-stylex-codemod: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-oxlint, lint-eslint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{json,css,yaml,yml,html,md,graphql,js,jsx,ts,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true
    lint-oxlint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:oxlint --fix {staged_files}
      stage_fixed: true
    lint-eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:eslint {staged_files}
      stage_fixed: true

fix: prevent sidecar clobber, substring import matching, and prepass parse error bypass
  src/__tests__/cross-file-prepass.test.ts
  src/__tests__/run-prepass-failure-contract.test.ts
  src/internal/bridge-consumer-patcher.ts
  src/internal/prepass/run-prepass.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

fix: replace node:crypto with browser-compatible hash in bridge-classname
  src/internal/utilities/bridge-classname.ts
Due: format, lint-oxlint, lint-eslint

fix: add realpathSync to playground fs-stub for browser compatibility
  playground/src/lib/fs-stub.ts
Due: format, lint-oxlint, lint-eslint

Remove cross-file selector implementation plan
  plans/2026-02-12-cross-file-selector.md
Due: format

Archive completed implementation plans
  plans/archive/2026-02-09-marker-and-when-api-support-plan-opus.md
  plans/archive/2026-02-12-cross-file-selector.md
Due: format

Archive planning documents to archive directory (#213)
  plans/archive/2026-02-09-marker-and-when-api-support-plan-opus.md
  plans/archive/2026-02-12-cross-file-selector.md
Due: format

deploy: 3e88f6ecc0a6e8d3782e90d74ec1f147ddd348f9
  assets/style-DSZS3Uo8.css
Due: format

feat: clean up stale bridge artifacts when consumers are later transformed
  plans/archive/2026-02-22-bridge-cleanup.md
  src/__tests__/cross-file-prepass.test.ts
  src/internal/bridge-cleanup.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

Fix duplicate type/function declarations when shouldForwardProp overlaps polymorphic emitter
  src/__tests__/fixture-adapters.ts
  src/internal/emit-wrappers/emit-intrinsic-polymorphic.ts
  test-cases/naming-duplicateDeclaration.input.tsx
  test-cases/naming-duplicateDeclaration.output.tsx
Due: format, lint-oxlint, lint-eslint

Fix duplicate type/function declarations when shouldForwardProp overlaps polymorphic emitter (#214)
  src/__tests__/fixture-adapters.ts
  src/internal/emit-wrappers/emit-intrinsic-polymorphic.ts
  test-cases/naming-duplicateDeclaration.input.tsx
  test-cases/naming-duplicateDeclaration.output.tsx
Due: format, lint-oxlint, lint-eslint

refactor: apply code quality improvements from PR #212
  src/internal/emit-wrappers/style-merger.ts
  src/internal/logger.ts
  src/internal/lower-rules/process-rules.ts
  src/internal/rewrite-jsx.ts
  src/internal/transform-steps/post-process.ts
Due: format, lint-oxlint, lint-eslint

Support self-referencing sibling combinators in StyleX (#210)
  src/__tests__/transform.test.ts
  src/internal/emit-wrappers/style-merger.ts
  src/internal/logger.ts
  src/internal/lower-rules/process-rules.ts
  src/internal/rewrite-jsx.ts
  src/internal/transform-steps/post-process.ts
  test-cases/_unimplemented.selector-siblingMarkerScoping.input.tsx
  test-cases/_unimplemented.selector-siblingMedia.input.tsx
  test-cases/selector-adjacentSiblingDestructure.input.tsx
  test-cases/selector-adjacentSiblingDestructure.output.tsx
  test-cases/selector-generalSibling.input.tsx
  test-cases/selector-generalSibling.output.tsx
  test-cases/selector-sibling.input.tsx
  test-cases/selector-sibling.output.tsx
  test-cases/selector-siblingBaseAfter.input.tsx
  test-cases/selector-siblingBaseAfter.output.tsx
  test-cases/selector-siblingInterpolated.input.tsx
  test-cases/selector-siblingInterpolated.output.tsx
  test-cases/selector-siblingMarkerScoping.input.tsx
  test-cases/selector-siblingMarkerScoping.output.tsx
  test-cases/selector-siblingMedia.input.tsx
  test-cases/selector-siblingMedia.output.tsx
Due: format, lint-oxlint, lint-eslint

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: format

Upgrade dependencies (#216)
  package.json
  pnpm-lock.yaml
Due: format

Add GitHub release creation to publish script
  scripts/publish-pkg.sh
Due: none

deploy: c20fae5566291735b7e774c0cb6a53428b119a76
  assets/style-DSZS3Uo8.css
Due: format

Improve warning location accuracy and reduce default maxExamples to 3
  src/__tests__/css-ir.test.ts
  src/__tests__/logger.test.ts
  src/internal/css-ir.ts
  src/internal/logger.ts
  src/internal/lower-rules/css-helper.ts
  src/run.ts
Due: format, lint-oxlint, lint-eslint

Support bridge GlobalSelector imports from already-converted StyleX files
  src/__tests__/cross-file-prepass.test.ts
  src/__tests__/fixtures/cross-file/consumer-bridge-aliased.tsx
  src/__tests__/fixtures/cross-file/consumer-bridge-forward.tsx
  src/__tests__/fixtures/cross-file/lib/converted-stylex-component.tsx
  src/__tests__/fixtures/cross-file/lib/non-stylex-component.tsx
  src/__tests__/fixtures/cross-file/lib/stylex-no-bridge-export.tsx
  src/internal/lower-rules/process-rules.ts
  src/internal/prepass/run-prepass.ts
  src/internal/prepass/scan-cross-file-selectors.ts
  src/internal/transform-types.ts
  test-cases/lib/converted-collapse-icon.tsx
  test-cases/selector-crossFileBridgeForward.input.stylex.ts
  test-cases/selector-crossFileBridgeForward.input.tsx
  test-cases/selector-crossFileBridgeForward.output.tsx
Due: format, lint-oxlint, lint-eslint

Preserve JSDoc comments on polymorphic wrapper components
  plans/2026-02-23-prepass-classname-style-detection.md
  src/__tests__/fixture-adapters.ts
  src/internal/emit-wrappers/emit-intrinsic-polymorphic.ts
  test-cases/asProp-basic.output.tsx
  test-cases/asProp-componentRef.output.tsx
  test-cases/basic-jsdocExported.input.tsx
  test-cases/basic-jsdocExported.output.tsx
  test-cases/externalStyles-basic.output.tsx
  test-cases/externalStyles-input.output.tsx
Due: format, lint-oxlint, lint-eslint

Remove basic-jsdocExported test case and prepass plan file
  plans/2026-02-23-prepass-classname-style-detection.md
  test-cases/basic-jsdocExported.input.tsx
  test-cases/basic-jsdocExported.output.tsx
Due: format, lint-oxlint, lint-eslint

Preserve JSDoc comments on polymorphic wrapper components (#217)
  src/__tests__/css-ir.test.ts
  src/__tests__/fixture-adapters.ts
  src/__tests__/logger.test.ts
  src/internal/css-ir.ts
  src/internal/emit-wrappers/emit-intrinsic-polymorphic.ts
  src/internal/logger.ts
  src/internal/lower-rules/css-helper.ts
  src/run.ts
  test-cases/asProp-basic.output.tsx
  test-cases/asProp-componentRef.output.tsx
  test-cases/externalStyles-basic.output.tsx
  test-cases/externalStyles-input.output.tsx
Due: format, lint-oxlint, lint-eslint

fix: handle multi-export bridge files in detectBridgeGlobalSelector
  src/__tests__/cross-file-prepass.test.ts
  src/__tests__/fixtures/cross-file/consumer-bridge-second-export.tsx
  src/__tests__/fixtures/cross-file/lib/converted-multi-export.tsx
  src/internal/prepass/scan-cross-file-selectors.ts
Due: format, lint-oxlint, lint-eslint
