Repository skovhus/styled-components-to-stylex-codemod: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-oxlint, lint-eslint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{json,css,yaml,yml,html,md,graphql,js,jsx,ts,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true
    lint-oxlint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:oxlint --fix {staged_files}
      stage_fixed: true
    lint-eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:eslint {staged_files}
      stage_fixed: true

feat(test-cases): promote next-to-tackle to official test cases (#190)
  scripts/regenerate-test-case-outputs.mts
  scripts/verify-storybook-rendering.mts
  src/__tests__/fixture-adapters.ts
  src/__tests__/transform.test.ts
  test-cases-next-to-tackle/bug-data-style-src-incompatible-component.input.tsx
  test-cases-next-to-tackle/bug-data-style-src-incompatible-component.output.tsx
  test-cases-next-to-tackle/bug-external-styles-missing-classname.input.tsx
  test-cases-next-to-tackle/bug-external-styles-missing-classname.output.tsx
  test-cases/transientProp-memberExpression.input.tsx
  test-cases/transientProp-memberExpression.output.tsx
  test-cases/wrapper-mergerImported.input.tsx
  test-cases/wrapper-mergerImported.output.tsx
Due: format, lint-oxlint, lint-eslint

feat: support arrow fn helper calls with multi-arg, member callee, destructured theme
  src/__tests__/fixture-adapters.ts
  src/adapter.ts
  src/internal/builtin-handlers.ts
  src/internal/builtin-handlers/resolver-utils.ts
  test-cases/helper-destructuredThemeArg.input.tsx
  test-cases/helper-destructuredThemeArg.output.tsx
  test-cases/helper-memberCalleeMultiArg.input.tsx
  test-cases/helper-memberCalleeMultiArg.output.tsx
  test-cases/lib/ColorConverter.ts
  test-cases/lib/helpers.ts
Due: format, lint-oxlint, lint-eslint

Deploy preview for PR 193 🛫
  pr-preview/pr-193/assets/style-DSZS3Uo8.css
Due: format

chore(release): v0.0.11 [skip ci]
  package.json
Due: format

Change to formatterCommands
  README.md
  src/run.ts
Due: format, lint-oxlint, lint-eslint

chore(release): v0.0.12 [skip ci]
  package.json
Due: format

feat(adapter): decouple `styles` from `as` in ExternalInterfaceResult
  README.md
  src/__tests__/fixture-adapters.ts
  src/adapter.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  src/internal/transform-steps/analyze-before-emit.ts
  test-cases/externalStyles-basic.output.tsx
  test-cases/htmlProp-element.output.tsx
  test-cases/htmlProp-input.output.tsx
  test-cases/wrapper-propsIncomplete.output.tsx
Due: format, lint-oxlint, lint-eslint

refactor(adapter): make `as` required and remove `null` from ExternalInterfaceResult
  README.md
  src/__tests__/fixture-adapters.ts
  src/__tests__/transform.test.ts
  src/adapter.ts
  src/internal/transform-steps/analyze-before-emit.ts
Due: format, lint-oxlint, lint-eslint

fix(emit): preserve intrinsic HTML props for supportsExternalStyles components
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  test-cases/attrs-asRefType.output.tsx
  test-cases/attrs-labelAs.output.tsx
  test-cases/htmlProp-element.output.tsx
  test-cases/wrapper-delegation.output.tsx
  test-cases/wrapper-propsIncomplete.output.tsx
Due: format, lint-oxlint, lint-eslint

feat(adapter): decouple `styles` from `as` in ExternalInterfaceResult (#194)
  README.md
  src/__tests__/fixture-adapters.ts
  src/__tests__/transform.test.ts
  src/adapter.ts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  src/internal/transform-steps/analyze-before-emit.ts
  test-cases/attrs-asRefType.output.tsx
  test-cases/attrs-labelAs.output.tsx
  test-cases/externalStyles-basic.output.tsx
  test-cases/htmlProp-element.output.tsx
  test-cases/htmlProp-input.output.tsx
  test-cases/wrapper-delegation.output.tsx
  test-cases/wrapper-propsIncomplete.output.tsx
Due: format, lint-oxlint, lint-eslint

chore(release): v0.0.13 [skip ci]
  package.json
Due: format

feat: add createExternalInterface for auto-detecting externalInterface usage
  README.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/bench-consumer-analyzer.mts
  src/__tests__/consumer-analyzer.test.ts
  src/consumer-analyzer.ts
  src/index.ts
  tsdown.config.ts
Due: format, lint-oxlint, lint-eslint

fix(consumer-analyzer): handle multiline JSX as-prop and default imports
  src/__tests__/consumer-analyzer.test.ts
  src/consumer-analyzer.ts
Due: format, lint-oxlint, lint-eslint

Deploy preview for PR 195 🛫
  pr-preview/pr-195/assets/style-DSZS3Uo8.css
Due: format

chore: remove bench-consumer-analyzer script
  scripts/bench-consumer-analyzer.mts
Due: none

fix(consumer-analyzer): fail hard when rg is not available
  src/__tests__/consumer-analyzer.test.ts
  src/consumer-analyzer.ts
Due: format, lint-oxlint, lint-eslint

ci: install ripgrep for consumer-analyzer tests
  .github/workflows/ci.yml
Due: format

fix(test): guard rmSync when beforeAll fails before creating fixtureDir
  src/__tests__/consumer-analyzer.test.ts
Due: format, lint-oxlint, lint-eslint

feat: add createExternalInterface for auto-detecting externalInterface usage (#195)
  .github/workflows/ci.yml
  README.md
  knip.json
  package.json
  pnpm-lock.yaml
  src/__tests__/consumer-analyzer.test.ts
  src/consumer-analyzer.ts
  src/index.ts
  tsdown.config.ts
Due: format, lint-oxlint, lint-eslint

deploy: 297e74b2b9edcffdc3cf754b021ca0bf1b4a1c5d
  assets/style-DSZS3Uo8.css
Due: format

fix(consumer-analyzer): skip non-exported components and improve resolver
  src/__tests__/consumer-analyzer.test.ts
  src/consumer-analyzer.ts
Due: format, lint-oxlint, lint-eslint
