Repository skovhus/styled-components-to-stylex-codemod: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-oxlint, lint-eslint

format:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-oxlint:
  run: pnpm lint:oxlint --fix {staged_files}
  stage_fixed: true

lint-eslint:
  run: pnpm lint:eslint {staged_files}
  stage_fixed: true

refactor: address review feedback and improve code quality
  src/internal/lower-rules/css-helper.ts
Due: format, lint-oxlint, lint-eslint

Remove invalid _unsupported.basic-bodyStmtsNotIterable test case
  src/__tests__/transform.test.ts
  test-cases/basic-arrowExpressionBody.input.tsx
  test-cases/basic-arrowExpressionBody.output.tsx
Due: format, lint-oxlint, lint-eslint

Ternary conditionals inside pseudo selectors using css helper (#168)
  src/internal/lower-rules/css-helper.ts
  test-cases/_unsupported.conditional-mixedStaticDynamicPseudo.input.tsx
  test-cases/conditional-mixedStaticDynamicPseudo.input.tsx
  test-cases/conditional-mixedStaticDynamicPseudo.output.tsx
Due: format, lint-oxlint, lint-eslint

Add transientProp-motionComponent test case from next-to-tackle
  test-cases/transientProp-motionComponent.input.tsx
  test-cases/transientProp-motionComponent.output.tsx
Due: format, lint-oxlint, lint-eslint

fix: support theme-defaultProps test case (Component.defaultProps = { theme })
  src/internal/transform-context.ts
  src/internal/transform-steps/collect-static-props.ts
  src/internal/transform-steps/detect-unsupported-patterns.ts
  test-cases/theme-defaultProps.input.tsx
  test-cases/theme-defaultProps.output.tsx
Due: format, lint-oxlint, lint-eslint

remove invalid test (#170)
  test-cases-next-to-tackle/_unsupported.basic-bodyStmtsNotIterable.input.tsx
Due: format, lint-oxlint, lint-eslint

deploy: d340abd5f844897247fc0a4a0a52a2bbe9d4d2f7
  assets/style-DSZS3Uo8.css
Due: format

Add plan and skill
  .claude/skills/stylex-authoring/SKILL.md
  .claude/skills/stylex-authoring/references/stylex-authoring-full.md
  plans/2026-02-09-marker-and-when-api-support-plan-opus.md
Due: format

Remove unessary file
  .claude/skills/stylex-authoring/references/stylex-authoring-full.md
Due: format

chore(release): v0.0.10 [skip ci]
  package.json
Due: format

deploy: 26a25f8fd1a8cd0f11498cc54c1d1d34261d4f12
  assets/style-DSZS3Uo8.css
Due: format

Add plans
  plans/2025-02-05-eliminate-argument-bags.md
  plans/2026-02-12-cross-file-selector.md
Due: format

deploy: a11a4e6c2b521ee6b3d300a312afe6619f876ca5
  assets/style-DSZS3Uo8.css
Due: format

refactor: rewrite rendering comparison script with pixelmatch, auto-start server, and CI integration
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/verify-storybook-rendering.mts
Due: format

style: fix formatting in verify-storybook-rendering script
  scripts/verify-storybook-rendering.mts
Due: none

perf: parallelize rendering verification across 6 browser pages
  scripts/verify-storybook-rendering.mts
Due: none

fix: stabilize animation and image-dependent test cases in rendering verification
  scripts/verify-storybook-rendering.mts
Due: none

fix: improve CSS shorthand expansion and stabilize rendering verification
  scripts/verify-storybook-rendering.mts
  src/internal/css-prop-mapping.ts
  src/internal/stylex-shorthands.ts
Due: format, lint-oxlint, lint-eslint

fix: use resolved attrs default in style conditionals
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  test-cases/attrs-tabIndexInStyle.output.tsx
  test-cases/variant-recipe.output.tsx
Due: format, lint-oxlint, lint-eslint

ci: remove rendering diff artifact upload
  .github/workflows/ci.yml
Due: format

fix: allow known rendering mismatches and add plan to fix them
  plans/2026-02-12-rendering-mismatches.md
  scripts/verify-storybook-rendering.mts
Due: format

ci: split rendering verification into a separate job
  .github/workflows/ci.yml
Due: format

fix: revert to build+serve approach for rendering verification
  CLAUDE.md
  package.json
  scripts/verify-storybook-rendering.mts
Due: format

fix: restore storybook:build in check and ci scripts
  package.json
Due: format

revert: remove unnecessary borderColor: currentcolor from border: none expansion
  src/internal/css-prop-mapping.ts
  test-cases/asProp-forwarded.output.tsx
  test-cases/basic-flowTypes.flow.output.jsx
  test-cases/basic-plainJavascript.output.jsx
  test-cases/conditional-nullishCoalescing.output.tsx
  test-cases/css-important.output.tsx
  test-cases/externalStyles-basic.output.tsx
  test-cases/interpolation-memberExpression.output.tsx
  test-cases/interpolation-string.output.tsx
  test-cases/ref.output.tsx
  test-cases/selector-descendantComponent.output.tsx
  test-cases/shouldForwardProp-basic.output.tsx
  test-cases/withConfig.output.tsx
Due: format, lint-oxlint, lint-eslint

Rendering comparison script (#176)
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  knip.json
  package.json
  plans/2026-02-12-rendering-mismatches.md
  pnpm-lock.yaml
  scripts/verify-storybook-rendering.mts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/emit-wrappers/wrapper-emitter.ts
  test-cases/attrs-tabIndexInStyle.output.tsx
  test-cases/variant-recipe.output.tsx
Due: format, lint-oxlint, lint-eslint

fix: update output files and verification script to fix rendering mismatches
  scripts/verify-storybook-rendering.mts
  test-cases/asProp-forwarded.output.tsx
  test-cases/conditional-emptyStringBranch.output.tsx
  test-cases/conditional-negation.output.tsx
  test-cases/keyframes-unionComplexity.output.tsx
  test-cases/selector-attribute.output.tsx
Due: format, lint-oxlint, lint-eslint

fix: transform changes for rendering mismatches
  src/internal/emit-styles.ts
  src/internal/emit-wrappers/emit-intrinsic-specialized.ts
  src/internal/lower-rules/after-base-mixins.ts
  src/internal/lower-rules/process-rules.ts
  src/internal/selectors.ts
  src/internal/transform-types.ts
  test-cases/selector-attribute.output.tsx
Due: format, lint-oxlint, lint-eslint

fix: complete transform fixes for all rendering mismatches
  src/internal/emit-styles.ts
  src/internal/transform-steps/preflight.ts
  test-cases/asProp-forwarded.output.tsx
  test-cases/conditional-nestedProp.output.tsx
  test-cases/conditional-styleType.output.tsx
  test-cases/css-heterogeneousBackground.output.tsx
  test-cases/keyframes-unionComplexity.output.tsx
Due: format, lint-oxlint, lint-eslint

docs: update rendering mismatches plan to reflect resolved status
  plans/2026-02-12-rendering-mismatches.md
Due: format

Path conditions:
  format: any of: *.{json,css,yaml,yml,html,md,graphql,js,jsx,ts,tsx}
  lint-oxlint: any of: *.{js,jsx,ts,tsx}
  lint-eslint: any of: *.{js,jsx,ts,tsx}
