Repository skovhus/styled-components-to-stylex-codemod: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-oxlint, lint-eslint

format:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-oxlint:
  run: pnpm lint:oxlint --fix {staged_files}
  stage_fixed: true

lint-eslint:
  run: pnpm lint:eslint {staged_files}
  stage_fixed: true

docs: add AGENTS.md guide for AI agents
  AGENTS.md
Due: format

feat: support theme-conditionalInlineStyle transformation
  src/internal/builtin-handlers/conditionals.ts
  src/internal/builtin-handlers/types.ts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  test-cases/theme-conditionalInlineStyle.input.tsx
  test-cases/theme-conditionalInlineStyle.output.tsx
  test-cases/tokens.stylex.ts
Due: format, lint-oxlint, lint-eslint

docs: rename AGENT.md to AGENTS.md, add self-improvement section to CLAUDE.md
  AGENT.md
  AGENTS.md
  CLAUDE.md
Due: format

Phase 1: Extract TemplateLiteralContext to eliminate repeated argument bags
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/css-helper-handlers.ts
  src/internal/lower-rules/decl-setup.ts
  src/internal/lower-rules/template-literals.ts
Due: format, lint-oxlint, lint-eslint

Phase 2: Replace standalone handler factory context types with Pick<LowerRulesState>
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/css-helper-handlers.ts
  src/internal/lower-rules/decl-setup.ts
  src/internal/lower-rules/value-patterns.ts
Due: format, lint-oxlint, lint-eslint

Phase 3: Split tryHandleInterpolatedBorder into (ctx, args) pattern
  src/internal/lower-rules/borders.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
Due: format, lint-oxlint, lint-eslint

refactor: deduplicate types and consolidate shared aliases
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/css-helper-handlers.ts
  src/internal/lower-rules/decl-setup.ts
  src/internal/lower-rules/decl-types.ts
  src/internal/lower-rules/inline-styles.ts
  src/internal/lower-rules/interpolated-variant-resolvers.ts
  src/internal/lower-rules/template-literals.ts
  src/internal/lower-rules/theme.ts
  src/internal/lower-rules/value-patterns.ts
Due: format, lint-oxlint, lint-eslint

Argument bag removal (#154)
  src/internal/lower-rules/borders.ts
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/css-helper-handlers.ts
  src/internal/lower-rules/decl-setup.ts
  src/internal/lower-rules/decl-types.ts
  src/internal/lower-rules/inline-styles.ts
  src/internal/lower-rules/interpolated-variant-resolvers.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  src/internal/lower-rules/template-literals.ts
  src/internal/lower-rules/theme.ts
  src/internal/lower-rules/value-patterns.ts
Due: format, lint-oxlint, lint-eslint

Tinter agents guide (#156)
  AGENTS.md
  CLAUDE.md
Due: format

Add Chromatic Storybook preview workflow for PR previews
  .github/workflows/storybook-preview.yml
  knip.json
  package.json
  pnpm-lock.yaml
Due: format

fix: expand shorthand CSS props via cssDeclarationToStylexDeclarations
  src/internal/lower-rules/rule-interpolated-declaration.ts
Due: format, lint-oxlint, lint-eslint

fix: make highlightVariant actually lighten the hex color
  test-cases/tokens.stylex.ts
Due: format, lint-oxlint, lint-eslint

Add playground preview deployments on PR commits
  .github/workflows/deploy-playground-preview.yml
  .github/workflows/deploy-playground.yml
Due: format

Deploy preview for PR 159 🛫
  pr-preview/pr-159/assets/index-DMTuAZz5.js
  pr-preview/pr-159/index.html
Due: format, lint-oxlint, lint-eslint

Fix: add Pages deployment step to preview workflow
  .github/workflows/deploy-playground-preview.yml
  .github/workflows/deploy-playground.yml
Due: format

Fix: use workflow_run for Pages deployment to respect environment rules
  .github/workflows/deploy-pages.yml
  .github/workflows/deploy-playground-preview.yml
  .github/workflows/deploy-playground.yml
Due: format

fix: handle Storybook kebab-case story IDs in verify script
  .storybook/main.ts
  CLAUDE.md
  scripts/verify-storybook-rendering.mts
Due: format, lint-oxlint, lint-eslint

refactor: extract highlightVariant as standalone exported function
  test-cases/tokens.stylex.ts
Due: format, lint-oxlint, lint-eslint

Simplify: remove deploy-pages.yml, rely on GitHub Pages branch source
  .github/workflows/deploy-pages.yml
  .github/workflows/deploy-playground.yml
Due: format

feat: add pixel-level screenshot comparison to verify-storybook-rendering
  scripts/verify-storybook-rendering.mts
Due: none

Add .nojekyll to trigger initial Pages build
  .nojekyll
Due: none

Restore main playground to gh-pages root
  assets/index-DMTuAZz5.js
  index.html
Due: format, lint-oxlint, lint-eslint

Show PR number in playground header for preview builds
  .github/workflows/deploy-playground-preview.yml
  knip.json
  playground/src/App.tsx
  playground/src/vite-env.d.ts
Due: format, lint-oxlint, lint-eslint

Theme conditional inline style (#157)
  .storybook/main.ts
  CLAUDE.md
  scripts/verify-storybook-rendering.mts
  src/internal/builtin-handlers/conditionals.ts
  src/internal/builtin-handlers/types.ts
  src/internal/emit-wrappers/emit-intrinsic-simple.ts
  src/internal/lower-rules/rule-interpolated-declaration.ts
  test-cases/theme-conditionalInlineStyle.input.tsx
  test-cases/theme-conditionalInlineStyle.output.tsx
  test-cases/tokens.stylex.ts
Due: format, lint-oxlint, lint-eslint

Trigger pages rebuild
  .deploy-trigger
Due: none

Deploy preview for PR 159 🛫
  pr-preview/pr-159/assets/index-DN29dx-N.js
  pr-preview/pr-159/assets/index-Y9bWbInO.js
  pr-preview/pr-159/index.html
Due: format, lint-oxlint, lint-eslint

Fix: use env var for Vite base path instead of CLI arg
  .github/workflows/deploy-playground-preview.yml
  playground/vite.config.ts
Due: format, lint-oxlint, lint-eslint

Make PR number a link to the pull request
  playground/src/App.tsx
Due: format, lint-oxlint, lint-eslint

Disable QR code in PR preview comment
  .github/workflows/deploy-playground-preview.yml
Due: format

PR commit playground previews (#159)
  .github/workflows/deploy-playground-preview.yml
  .github/workflows/deploy-playground.yml
  knip.json
  playground/src/App.tsx
  playground/src/vite-env.d.ts
  playground/vite.config.ts
Due: format, lint-oxlint, lint-eslint

Remove preview for PR 159 🛬
  pr-preview/pr-159/assets/index-CK-_0Aq4.js
  pr-preview/pr-159/index.html
Due: format, lint-oxlint, lint-eslint

deploy: 2bd0c6f17ab82b92902b0cc0712df48d03dc8e44
  assets/index-BjlRg9WI.js
  index.html
Due: format, lint-oxlint, lint-eslint

refactor: move playground helpers below export
  playground/src/App.tsx
  playground/src/lib/test-cases.ts
Due: format, lint-oxlint, lint-eslint

Add playground render preview toggle
  playground/src/App.tsx
  playground/src/lib/test-cases.ts
  playground/vite.config.ts
Due: format, lint-oxlint, lint-eslint

feat(playground): add URL-driven preview modes and searchable test-case picker
  CURSOR.md
  package.json
  playground/src/App.tsx
  playground/src/lib/test-cases.ts
  pnpm-lock.yaml
Due: format, lint-oxlint, lint-eslint

fix(storybook): exclude _unsupported fixtures from eager globs
  test-cases/TestCases.stories.tsx
Due: format, lint-oxlint, lint-eslint

Run format
  scripts/verify-storybook-rendering.mts
  src/internal/lower-rules/css-helper-conditional.ts
  src/internal/lower-rules/decl-setup.ts
  test-cases/TestCases.stories.tsx
  test-cases/lib/collapse-arrow-icon.tsx
Due: format, lint-oxlint, lint-eslint

Keep PRs arond
  .github/workflows/deploy-playground-preview.yml
Due: format

fix(playground): exclude _unsupported fixtures from build globs
  playground/src/lib/test-cases.ts
Due: format, lint-oxlint, lint-eslint

Path conditions:
  format: any of: *.{json,css,yaml,yml,html,md,graphql,js,jsx,ts,tsx}
  lint-oxlint: any of: *.{js,jsx,ts,tsx}
  lint-eslint: any of: *.{js,jsx,ts,tsx}
